*{
	margin: 0;
	padding: 0;
	
}
body{
	background-color: #e0e0e0;
}


.container {
	width: 90%;
	margin:5px auto;
	background-color: white;
	border:1px solid #e0e0e0;
	
}
.block-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
	border-bottom: solid 1px #e0e0e0;
}
.block-left{
	margin-left: 30px;
}
.block-right{
	margin-right:30px;
}

.left-nav {
	width: 9%;
	min-height: 1000px;
	height: auto;
	position: absolute;
	border-right: 1px solid #e0e0e0;
	

	

}

.left-nav ul li{
	list-style: none;
	border-bottom: solid 1px #e0e0e0;
	font-size: 20px;
	text-align: center;
	
}
.left-nav ul li a {
	text-decoration: none;
}
#logo{
	
	padding-top: 5%;
	width: 20px;
}

.block-content{
	
	width: 90%;
	height: auto;
	margin-left: 10%;
	min-height: 1000px;

}

.block-parameters{

	height: 40px;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f2f2f2;
}
.title-page{
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
	font-size: 20px;
}

.block-info {
	height: 40px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.count-style{	
	font-size: 14px;
}

.block-tovar {
	margin-top: 10px;
	display: flex;
	
}
.block-tovar li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 350px;
	width: 20%;
	margin-left: 10px;
	list-style: none;
	border:1px solid;
}
.block-tovar p {
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
}
#img {
	width: 90%;
	margin-left: 12px;
}

.link-action{
	margin-bottom: 5px;
}
.delete {
	cursor: pointer;
	color: red;
	margin-bottom: 5px;
	
}
.green {
	cursor: pointer;
	color: green;
	margin-bottom: 5px;
}



/*Лист*/

#options-list  {
	display: flex;
}
#options-list li{
	margin-left: 10px;
	font-size: 14px;
	margin-top: 13px;
	list-style: none;
}
#options-list li a{
	color: #748996;
}
.list-links {
	display: none;
	justify-content: space-between;
	width: 40%;
	padding-top: 5px;
	padding-bottom: 7px;
	height: auto;
	background-color: white;
	border: 1px solid #a3c0d2;
	position: absolute;
	left: 65px;

	
}
.list-links ul {
	width: 150px;
}

.list-links ul li {
	list-style: none;
	margin-top: 3px;
	margin-left: 10px;
	
}
.list-links ul li a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

/*стили для добавления товара*/

#add-style{
	margin-right: 15px;
}

.form_tovar{

}


.edit-tovar label{
	font: 15px;
	margin-top: 6px;
	margin-left: 20px;
	position: absolute;
}
.edit-tovar li{
	margin-top: 10px;
	list-style: none;
}
.edit-tovar input {
	margin-left: 170px;
	width: 400px;
	height: 25px;
	border:1px solid #d4d4d4;
	padding-left: 5px;
	font: 15px;

}

.edit-tovar textarea {
	margin-left: 170px;
	width: 410px;
	height: 80px;
	border:1px solid #d4d4d4;
	font: 15px;

}

.edit-tovar select#type{
	margin-left: 170px;
	width: 250px;
	height: 25px;
	border:1px solid #d4d4d4;
}
.edit-tovar select{
	margin-left: 170px;
	width: 250px;
	border:1px solid #d4d4d4;
}
.img-upload{
	margin-top: 20px;
}
.img-upload input{
	margin-left: 15px;
}

.h3click {
	width: 30%;
	font: bold 15px;
	cursor: pointer;
	margin-top: 10px;
	padding-left: 25px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #eaeaea;
	border:1px solid #e3e3e3;
}

.stylelabel{
	font: 15px;
	margin-top: 6px;
	margin-left: 20px;
}

#baseimg{
	margin-top: 20px;
	height: 120px;
}
#baseimg img{
	float: left;
	margin-left: 15px;

}
#baseimg a {
	width: 16px;
	height: 16px;
	background: url(../images/delete.png);
	float: left;
	cursor: pointer;
	margin-left: 5px;
}


/*Стили  для изменения категорий*/

.cat_product {
	margin-top: 20px;
}
.cat_product li{
	margin-top: 15px;
	list-style: none;
}
.cat_product label{
	position: absolute;
	margin-left: 15px;
	font: 14px;
	margin-top: 3px;
}
.cat_product select{
	margin-left: 150px;
	width: 400px;
	height: 350px;
}
.cat_product input{
	margin-left: 150px;
	width: 300px;
	height: 25px;
}
.cat_product div{
	position: absolute;
	margin-left: 560px;
	display: inline-block;
}
.cat_product a {
	font: 14px;
	display: block;
	margin-top: 4px;
	cursor: pointer;
	text-decoration: underline;
}
